/* Navigation bar */

nav {
  display: flex;
  background-color: #084C61;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}


/* #177E89 metallic seaweed
#084C61 midnight green eagle green
#DB3A34 CG red
#FFC857 maximum yellow red */